{% extends "base.html" %}

{% block title %}{{ config.title }}{% endblock %}

{% block content %}
{%
set PAGE_NAMES = [
    "ram-map",
    "prg-map",
    "object-id",
    "cell-table",
    "meta-sprite-table",
    "ground-01-04",
    "ground-05-08",
    "ground-09-12",
    "ground-13-16",
    "direction",
    "enemy-group",
    "enemy-ai",
]
%}

<header>{{ config.title }}</header>

{{ section.content | safe }}

<ul>
{% for name in PAGE_NAMES %}
{% set page = get_page(path=name~"/index.md") %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
{% endfor %}
</ul>

<ul>
  <li><a href="https://github.com/taotao54321/StarSoldierExtract">各種データ抽出ツール</a></li>
</ul>

<p>マップは1周目のみ掲載した。2周目(グラフィックが違うだけ)も含めたマップは<a href="https://vgmaps.com/Atlas/NES/#StarSoldier">VGMaps</a>にある。</p>

<p>この文書は<a href="https://github.com/taotao54321/StarSoldierResource">gitリポジトリ</a>で管理されている。誤りの指摘などは Issue へどうぞ。</p>
{% endblock %}
